@{
    ViewData["Title"] = "Home Page";
}


<div id="logo">
    <img src="/images/app/logo_big.png" id="logopic" />
</div>
<div id="contenthome">
    <div id="searchcontent">
        <form asp-controller="" asp-action="Index">
                <input type="text" name="SearchString" id="search" placeholder="Search...">
                <div id="buttonscontent">
                    <input type="submit" value="Search" id="searchbutton" />
                    <input type="submit" value="All Hotels" id="searchbutton" />
                </div>
        </form>
    </div>
</div>



@foreach (var item in ViewData["hotels"] as IEnumerable<Hotels>)
{
    <a href="Hotel?id=@item.Id" id="name@item.Id"><p>@item.Name + @item.Country.Name</p></a>
}
