@{
    ViewData["Title"] = "Home Page";
}


<div id="logo">
    <a href="/"><img src="/images/app/logo_big.png" id="logopic" /></a>
</div>
<div id="contenthome">
    <div id="searchcontent">
        <form asp-controller="" asp-action="Index">
                <input type="text" name="SearchString" id="search" placeholder="Search...">
                <div id="buttonscontent">
                    <input type="submit" value="Search" id="searchbutton" />
                    <input type="submit" value="All Hotels" id="searchbutton" />
                </div>
        </form>
    </div>
</div>

<table id="hotels">
    @foreach (var item in ViewData["hotels"] as IEnumerable<Hotels>)
    {
        <tr>
            <td><a href="Hotel?id=@item.Id" id="name@item.Id"><img src="~/images/hotels/@item.Img1" width="50%" /></a></td>
            <td><a href="Hotel?id=@item.Id" id="name@item.Id"><p>@item.Name</p><p>@item.Rating stars</p><p>@item.Address</p><p>@item.Country.Name</p></a></td>
        </tr>
    }
</table>