@{
    ViewData["Title"] = "Reserve";
}

<div id="reservationform">
    <form action="/api/Reservations" method="POST" onsubmit="return validateForm()">
        <p id="restext">Reservation Form</p>
        <input type="text" id="name" name="name" placeholder="Name" /> <br />
        <input type="text" id="surname" name="surname" placeholder="Surname" /> <br />
        <input type="text" id="email" name="email" placeholder="Email" /> <br />
        <input type="date" id="datefrom" name="datefrom"> - <input type="date" id="dateto" name="dateto"> <br />
        <input type="submit" value="Reserve" id="reservebutton" />
        <input type="hidden" name="roomid" id="roomid" value="@ViewData["id"]" />
    </form>
</div>